[Desktop Entry]
Type=Application
Name=Aks Terminal
Comment=A GPU-accelerated terminal emulator
Exec=aks-terminal
Terminal=false
Categories=System;TerminalEmulator;
